/* Importing Google Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* Defaults */

progress[value] {
  appearance: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* States */

.is-selected {
  border: 1px solid grey;
}

.is-hidden {
  display: none;
}

/* Header Styles */

.header {
  color: white;
  background-color: black;
  padding: 1.5rem;
}

.logo {
  font-family: "Pacifico", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Main Styles */

main {
  margin-bottom: 6rem;
  position: relative;
}

/* Product Styles */

.product {
  margin: 0 auto;
  width: 960px;
  display: flex;
  justify-content: space-between;
}

.product__view-thumbnails {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__view-thumbnail-list {
  list-style: none;
}

.product__view-thumbnail {
  width: 100%;
  cursor: pointer;
}

.product__primary-view {
  width: 55%;
  padding: 0 2rem;
}

.product__primary-view-img {
  width: 100%;
}

.product__info {
  padding: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__title {
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.product__price {
  font-size: 2.5rem;
}

.product__property {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.product__value {
  margin-bottom: 1rem;
}

.product__size-select {
  outline: none;
  padding: 0.5rem;
  width: 4rem;
}

.product__color-thumbnail-list {
  list-style: none;
}

.product__color-thumbnail-list > li {
  display: inline-block;
}

.product__color-thumbnail {
  width: 2rem;
  margin-right: 0.25rem;
  cursor: pointer;
}

.product__BuyBtn {
  border: none;
  outline: none;
  padding: 0.5rem;
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.1s ease-in;
}

.product__BuyBtn:hover {
  background-color: #4d4d4d;
}

/* Footer Styles */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: black;
  padding: 1rem;
}

.footer-text {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2ch;
}

/* Form Styles */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select {
  display: block;
  padding: 0.4rem;
  margin: 0.5rem 0 1rem;
  width: 12rem;
}

textarea {
  resize: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 1rem 0;
}

fieldset > label {
  margin: 1rem 0;
}

legend {
  font-weight: 700;
}

label {
  display: block;
  font-weight: 600;
}

.wizard {
  margin: 2rem auto;
  width: 960px;
  box-shadow: 0 0 4px grey;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.wizard__progress {
  margin: 0 auto;
  padding: 2rem 4rem;
  position: relative;
}

.wizard__progress-bar {
  height: 0.5rem;
  margin: 0 auto;
  position: absolute;
  top: 4.4rem;
  left: 0;
  right: 0;
  width: 80%;
}

.wizard__progress-bar::-webkit-progress-value {
  background-color: #d3d3d3;
  box-shadow: inset 0 0 2px rgb(0, 0, 0);
}

.wizard__progress-bar::-webkit-progress-bar {
  background-color: white;
  box-shadow: inset 0 0 2px rgb(0, 0, 0);
}

.wizard__progress-stages {
  display: flex;
  justify-content: space-between;
}

.wizard__progress-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage-name {
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.stage-signal {
  margin: 0.8rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  border: 4px solid grey;
  background-color: white;
  z-index: 1;
}

.wizard__form {
  padding: 1rem 3rem;
}

.wizard__form-title {
  margin: 0 0 2rem;
}

.wizard__controls {
  display: flex;
  justify-content: flex-end;
}

.wizard-btn {
  padding: 0.8rem;
  margin: 0.8rem;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: 1px solid black;
}

.clear-btn {
  background-color: white;
  color: black;
}

.next-btn {
  background-color: black;
  color: white;
}

/* Others */

.small {
  font-size: 0.8rem;
}

.tiny {
  font-size: 0.7rem;
}

.finish-container {
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  justify-content: space-around;
}

.finish-your-purchase {
  box-sizing: border-box;
  background-color: white;
  width: 420px;
  padding: 1.5rem;
  box-shadow: 0 0 10px 5px rgba(32, 32, 32, 0.1);
}

.finish-your-purchase__title {
  font-size: 1.5rem;
}

.finish-your-purchase__product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  width: 100%;
  margin: 0 auto 1rem;
}

.finish-your-purchase__product-image {
  width: 50%;
}

.finish-your-purchase__product-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.finish-your-purchase__product-property {
  margin-bottom: 1rem;
}

.finish-your-purchase__product-arrival {
  font-size: 0.9rem;
}

.finish-your-purchase__product-title {
  font-weight: bold;
  font-size: 0.95rem;
}

.finish-terms-and-conditions {
  font-weight: bold;
  font-size: 0.85rem;
  margin: 0 auto 1rem;
}

.finish-buyBtn {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.finish-buyBtn:hover {
  background-color: #797979ef;
  box-shadow: 0px 15px 20px rgba(23, 26, 24, 0.4);
  color: #fff;
  transform: translateY(-2px);
}

.finish-your-order {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  width: 210px;
  height: 220px;
  box-shadow: 0 0 10px 5px rgba(32, 32, 32, 0.1);
  font-size: 90%;
}


